.kenburns-top-left {
    -webkit-animation: kenburns-top-left 5s ease-out both;
    animation: kenburns-top-left 5s ease-out both;
}

@-webkit-keyframes kenburns-top-left {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 16% 16%;
        transform-origin: 16% 16%;
    }
    100% {
        -webkit-transform: scale(1.25) translate(-20px, -15px);
        transform: scale(1.25) translate(-20px, -15px);
        -webkit-transform-origin: top left;
        transform-origin: top left;
    }
}
@keyframes kenburns-top-left {
    0% {
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 16% 16%;
        transform-origin: 16% 16%;
    }
    100% {
        -webkit-transform: scale(1.25) translate(-20px, -15px);
        transform: scale(1.25) translate(-20px, -15px);
        -webkit-transform-origin: top left;
        transform-origin: top left;
    }
}

/*----------MEDIA QUERIES----------*/


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}


